{% extends 'Main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_customer' customer_info.id %}">Update Customer</a>
			<a class="btn btn-warning  btn-sm btn-block" href="{% url 'creat_order' customer_info.id %}">Create Your Own Order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{ customer_info.email }}</p>
			<p>Name: {{ customer_info.first_name }}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ customer_requested.count }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
                    {{ form.form }}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
                {% for customer_requested in customer_requested %}
                    <tr>
                    <td>{{ customer_requested.product.item_name }}</td>
                    <td>{{ customer_requested.product.item_price}}</td>
                    <td>{{ customer_requested.order_date}}</td>
                    <td>{{ customer_requested.status_field }}</td>
{#                    <td></td>#}
                    <td><a class="btn btn-small btn-info" href="{% url 'update_order' customer_requested.id %}">UPDATE</a></td>
                    <td><a class="btn btn-small btn-danger" href="{% url 'delete' customer_requested.id %}">DELETE</a></td>
                    </tr>
                {% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}