{% extends 'Main.html' %}

{% block content %}
    <br/>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Are you sure you want to remove {{ item }}</p>

            <form action="{% url 'delete' item.id %}" method="POST">
                {% csrf_token %}
                <a href="{% url 'dashboard' %}" class="btn btn-small btn-warning">Cancel</a>
                <input type="submit" class="btn btn-small btn-danger" value="Confirm" />
            </form>
        </div>
    </div>
</div>
{% endblock %}