<style>
    .user-name{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
      </li>
        {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product' %}">Products</a>
      </li>
        {% else %}
            <li class="nav-item">
        <a class="nav-link" href="{% url 'setting' %}">Settings</a>
      </li>



{% endif %}
    </ul>
{#      {% endif %}#}
  </div>


    {% if request.user.is_authenticated %}
        <span class="user-name">@{{ user.username }}</span>
        <span><a href="{% url 'log_out' %}" class="user-name">Log Out</a></span>
{#    {% elif request.user.is_staff %}#}
{#        <span class="user-name">@admin</span>#}
{#        <span><a href="{% url 'log_out' %}" class="user-name">Log Out</a></span>#}

    {% endif %}
</nav>