{% extends 'Main.html' %}

{% block content %}


    	<div class="col">
            Password reset sent
		<div class="col-md">
{#			<div class="card text-center text-white  mb-3" id="orders-pending">#}
			  	<div class="card-header">
{#			  		<h5 class="card-title">Orders Pending</h5>#}
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
			  	</div>
			</div>
		</div>

{% endblock %}